body{
    font: 17px/1.5 'B612', sans-serif;
    padding: 0;
    margin: 0;
}

/* Global */
.branding{
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.containerOne{
    background-color: #e6f7e4;
    padding-bottom: 25px;
    padding-top: 7px;
}

.containerTwo{
    background-color: #f5f1f0;
}

.containerThree{
    background-color: #ededed;
    padding-bottom: 25px;
}

/* Header */
header{
    background-color: hsl(0, 0%, 100%);
    padding-top: 0px;
    padding-bottom: 10px;    
}

header a{
    color: #613e2e;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

header ul{
    margin: 0;
}

header li{
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar{

    background-color: #ffffff;
    position: relative;
    width: 100%;
    text-align: center;
} 

#logo{
    width: 47%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    padding-top: 0px;
}

/*paragraph formatting*/
.heading{
    color: #386929;
    text-align: center;
    font-size: 20px;
}

.paragraph{
    padding-left: 27%;
    padding-right: 27%;
    margin: 0;
    text-align: center;
    color: #613e2e;
    font-size: 17px;
}

/*slogan image*/
#showcase{
    width: 100%;
    height: auto;
}

/*who we are separation*/
#separator{
    border-bottom: 2px solid #468234;
    margin-left: 15%;
    margin-right: 15%;
}

/*warning*/
#asterisk{
font-size: 10px;
font-style: italic;
color: #aab4a9;
padding-left: 25%;
}

/* apartment picture showcase*/
.column{
    text-align: center;
}
.column img{
    width: 22%;
    height: auto;
}

/*link formatting*/
.learnMore a{
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    text-decoration: none;
}

.learnMore a:link{
    color: #468234;
}

.learnMore a:hover{
    color: #9fe7ae;
}

.learnMore a:active{
    color: #9fe7ae;
}

.learnMore a:visited{
    color: #444444;
}

/*Footer formatting*/
.footer{
    color: #613e2e;
    background-color: #ffffff;
    height: 200px;
    position: relative;
}


.footer h3{
    text-align: left;
    padding-left: 15%;
}

/*Copyright*/
.footerBottom{
    background-color: #fffefe;
    color: #c2b3ac;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    font-size: 12px;
    font-style: italic;
}

/*Footer section 1*/
.contact img{
    width: 25px;
    height: auto;
}

.contact{
    display: inline-flex;
    padding-left: 15%;
    text-align: center;
}

#telephoneIcon{
    width: 20px;
    height: 20px;
}

#mailIcon{
    width: 20px;
    height: 20px;
}

.quickLinks{
    padding-left: 5%;
    list-style-type: none;
}

.quickLinks a{
    font-style: italic;
    font-size: 17px;
    text-decoration: none;
}

.quickLinks a:link{
    color: #468234;
}

.quickLinks a:hover{
    color: #9fe7ae;
}

.quickLinks a:active{
    color: #9fe7ae;
}

.quickLinks a:visited{
    color: #444444;
}

.quickLinks ul{
    list-style-type: none;
}

/*Footer section two*/
.socialMedia{
    text-align: center;
}

.footerSection img{
    width: 300px;
    height: auto;
}

#slogan{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
}

#footerBranding{
    display: inline-block;
}

#instagram{
    width: 45px;
    height: auto;
}

#facebook{
    width: 50px;
    height: auto;
}

#twitter{
    width: 50px;
    height: auto;
}

@media (min-width: 768px){
    .footerContent{
        display: flex;
    }
    
    .footer .footerContent .footerSection{
        flex: 1;
    }
}

/* 
this  is the transition part
*/

.anim{
    opacity: 0;
}

@keyframes anim1{
    from{
        transform: translatey(50px);
        opacity: 0;
    }
 
   to{
        transform: translatey(0);
        opacity: 1;
    }
}

@keyframes anim2{
    from{
       
        opacity: 0;
    }
    to{
       
        opacity: 1;
    }
}

